body {
    background-color: #ffe6e6; 
    color: #b30000;             
}

header {
    background-color: #cc0000;  
    color: white;
}

.home-bg {
    background-image: url('../img/home-bg.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-content {
    background-color: rgba(255, 255, 255, 0.85); 
}
