body {
    background-color: #020202a9;
    color: #080808f3;
}

header {
    background-color: #007BFF;
    color: white;
}

.home-bg {
    background-image: url('../img/home-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-content {
    background-color: rgba(0,0,0,0.6);
}
