
.home-bg {
    background-image: url('../img/home-bg.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: calc(100vh - 60px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}


.home-content {
    background-color: rgba(0,0,0,0.49);
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    transition: color 0.3s;
}


.theme-selector-container {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgba(255,255,255,0.3);
    padding: 8px 12px;
    border-radius: 8px;
    backdrop-filter: blur(5px);
    z-index: 100;
}

#theme-select {
    padding: 6px 10px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
    cursor: pointer;
}


body.default { color: #333; }
body.natale { color: #8B0000; }
body.halloween { color: #ff9900; }
body.pasqua { color: #663399; }
body.agosto { color: #333; }


header.default { background-color: #007BFF; color: white; }
header.natale { background-color: #FF0000; color: white; }
header.halloween { background-color: #ff6600; color: white; }
header.pasqua { background-color: #8A2BE2; color: white; }
header.agosto { background-color: #f0ad4e; color: black; }
