body {
    background-color: #1b1b1b;
    color: #ff9900;
}

header {
    background-color: #ff6600;
    color: black;
}

.home-bg {
    background-image: url('../img/home-bg.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-content {
    background-color: rgba(0,0,0,0.8);
}
